.container {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 60px 86vh 8vh;
	grid-auto-flow: row;
	grid-template-areas:
		'top'
		'middle'
		'bottom';
}

.top {
	grid-area: top;
	align-self: center;
}

.middle {
	grid-area: middle;
	align-self: center;
	justify-self: center;
}

.bottom {
	grid-area: bottom;
	justify-self: center;
}

