.container {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 60px auto 80px;
	grid-auto-flow: row;
	grid-template-areas:
		'top'
		'middle'
		'bottom';

	width: 100vw;
	height: 100vh;
}

.top {
	grid-area: top;
	align-self: center;
}

.middle {
	grid-area: middle;
	align-self: center;
	justify-self: center;
}

.bottom {
	grid-area: bottom;
	justify-self: center;
}

/* QuestionBox */
.questionBox {
	width: 60vw;
	height: fit-content;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;

	padding: 8px;

	box-shadow: inset 0 0 0 1px var(--Border);
}

.textArea {
	width: 100%;
	height: 48px;
	margin-left: 6px;
	padding-top: 13px;
	background-color: transparent;
	font-size: 1rem;
	vertical-align: middle;
}

.textArea::placeholder {
	font-size: 1rem;
}
