.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.input {
	background-color: var(--Light);
}

.wrapper {
	border: 1px dashed var(--Dark);
	padding: 6px 12px 10px 12px;
	border-radius: 5px;
}

.slider {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
